body {
  font-family: Consolas, monospace;
  font-size: 1rem;
  white-space: pre-wrap;
  background: none;
  border: none;
  padding: 1rem;
  color: black;
  box-shadow: none;
  outline: none;
}
body.night {
  background: #121212;
  color: #eee;
}
#night-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
a {
  color: #0066cc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#post-content {
  white-space: pre-wrap;
  /**background: #f0f0f0;**/
  padding: 1em;
  border-radius: 8px;
  margin-top: 2em;
  max-height: 70vh;
  overflow-y: auto;
}
body.night #post-content {
  background: #222;
}
